<div class="ttt">

  <img class="carltonLeft" [ngClass]="{showWinImage: gameWon()}" src="http://1.bp.blogspot.com/-HHJGUgtp4nU/UvMQufUOydI/AAAAAAAACKA/Omc4K35V-EE/s1600/daily_gifdump_549_01.gif" />

  <div>

    <span *ngIf="gameWon()" class="youwon animated infinite tada">
      Player {{ getCurrentPlayerSymbol() }}, YOU WON!!!
    </span>

    <span *Else>Player {{ getCurrentPlayerSymbol() }} - your turn</span>

    <span class="reset" (click)="reset()">Reset game!</span>

    <div id="board">
      <div *ngFor="let square of squares; let i = index" (click)="squareClicked(i)" [ngClass]="{'animated': true, 'strike infinite pulse': strikingSquares.includes(squares[i].value)}">
        {{ getSymbolString(square.symbol)}}
      </div>
    </div>

  </div>

  <img class="carltonRight" [ngClass]=" {showWinImage: gameWon()} " src="http://1.bp.blogspot.com/-HHJGUgtp4nU/UvMQufUOydI/AAAAAAAACKA/Omc4K35V-EE/s1600/daily_gifdump_549_01.gif " />

</div>