.ttt {
  display: flex;
  justify-content: center;
  text-align: center;
}

#board {
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-wrap: wrap;
}

#board>div {
  box-sizing: border-box;
  width: 13.3vw;
  height: 13.3vw;
  background: gold;
  font-size: 10vw;
  border: 2px solid white;
  &.strike {
    background-color: green;
    color: white;
  }
}

.youwon {
  font-size: 35px;
}

.youwon,
.reset {
  display: block;
}

.reset {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.carltonRight,
.carltonLeft {
  display: none;
  height: 26vw;
  &.showWinImage {
    display: block;
  }
}

.carltonRight {
  float: left;
}

.carltonLeft {
  float: right;
}